<div class="simple_content">
<h2>会员搜索</h2>
<br />
<%= form_tag('/users_search_result_list', :method => :get) do %>


<p><%= radio_button_tag('name', 'name') %>按姓名查找 <br /> <%= search_field_tag 'name_search_field'%></p>

<p><%= radio_button_tag('name', 'wangwang') %>按旺旺号查找<br /> <%= search_field_tag 'wangwang_search_field'%></p>

<p><%= radio_button_tag('name', 'email') %>按账号查找(email) <br /> <%= search_field_tag 'email_search_field'%></p>

<br /><%= submit_tag "查找", :name => :users_search %> 

<% end %>
</div>
