<h1>Listing shipping_fees</h1>

<table>
  <tr>
    <th>Weight</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shipping_fees.each do |shipping_fee| %>
  <tr>
    <td><%= shipping_fee.weight %></td>
    <td><%= shipping_fee.price %></td>
    <td><%= link_to 'Show', shipping_fee %></td>
    <td><%= link_to 'Edit', edit_shipping_fee_path(shipping_fee) %></td>
    <td><%= link_to 'Destroy', shipping_fee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shipping fee', new_shipping_fee_path %>
