<table cellpadding="5",cellspacing="15">
	<tr>
		<th>商品名称</th>
		<th>商品单价</th>
		<th>购买数量</th>
		<th>价格</th>
		<th>会员折扣</th>
		<th>折扣后价格</th>
	</tr>
	<% @cart.line_items.each do |line_item| %>
	<tr>
		<td><%= line_item.product.title %></td>
		<td><%= line_item.product.price %></td>
		<td><%= line_item.quantity %></td>
		<td><%= number_to_currency(line_item.price,:unit=>"￥") %></td>
		<td><%= @discount_rate %></td>
		<td><%= number_to_currency(line_item.price * @discount_rate, :unit => "￥")%></td>		
	</tr>
	<% end %>
	<tr>
    <td>总计金额:</td>
    <td><%= number_to_currency(@cart.total_price, :unit=>"￥") %></td>
    <td>会员折扣:</td>
    <td><%= @discount_rate %></td>
    <td>总计支付金额:</td>
    <td><%= number_to_currency(@cart.total_price*@discount_rate, :unit=>"￥") %></td>
	</tr>
</table>
