<div class="standard_form">
	<fieldset>
		<p>
			<div class="element_to_left">
				<%= check_box_tag 'ck_name'%>
				<%= label_tag 'name', '客户名称：'%>
				<%= text_field_tag 'tf_name','',:size => 6%>
			</div>
			<div class="element_to_right">
				<%= check_box_tag 'ck_email'%>
				<%= label_tag 'email', '客户帐号（email）：'%>
				<%= text_field_tag 'tf_email','', :size => 20 %>
			</div>

		</p>
		<div class="cb">
		</div>

		<p>
			<%= check_box_tag 'ck_date'%>
			<%= label_tag 'date', '交易日期：'%>
			<%= text_field_tag 'tf_date',Date.today, :maxlength => 10, :size => 10 %>
		</p>
		<p>
			<%= check_box_tag 'ck_status'%>
			<%= label_tag 'status', '订单状态：'%>
			<%= select_tag "st_status", options_from_collection_for_select(OrderStatus.all, "id", "name") %>
	
		</p>
		<div class="element_to_right">
			<input type="submit" value="Submit Query" />
		</div>
		<div class="cb">
		</div>
		<hr/>
	</fieldset>
</div>
