<div class="simple_content">

<h2>商品及目录管理</h2>
<br />
<ul>
	<p><li><%= link_to '商品目录列表', categories_path %></li></p>
	<p><li><%= link_to '新增商品', new_product_path %></li></p>
</ul>

<br /><br />
<h2>订单管理</h2>
<br />
<ul>
	<p><li><%= link_to '未处理订单列表',orders_path%></li></p>
	<p><li><%= link_to '当日发货处理' %></li></p>
	<p><li><%= link_to '订单搜索' %></li></p>
</ul>



</div>
