<div class="simple_content">
<p id="notice"><%= notice %></p>

<p>
  <b>用途名称：</b>
  <%= @bonus_upgrade_detail.objective_name %>
</p>

<p>
  <b>积分奖励额：</b>
  <%= @bonus_upgrade_detail.bonus_reward_score %>
</p>

<p>
  <b>积分所需购买物品价格:</b>
  <%= @bonus_upgrade_detail.bonus_reward_price %>
</p>

<p>
  <b>达到某等级所需购买次数:</b>
  <%= @bonus_upgrade_detail.upgrade_count %>
</p>

<p>
  <b>客户等级:</b>
  <%= @bonus_upgrade_detail.upgrade_level %>
</p>

<br />
<%= link_to '编辑', edit_bonus_upgrade_detail_path(@bonus_upgrade_detail) %> |
<%= link_to '返回', bonus_upgrade_details_path %>
</div>
