<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>存在<%= @category.errors.count %>个错误导致无法保存</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '目录名称' %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label '父目录：' %><br />
    <%= f.select :parent_id, @parent_id_category %>
  </div>
  <div class="field">
    <%= f.label '是否显示：（用于控制该目录是否显示在左栏）' %><br />
    <%= f.select :is_show, [["不显示",0],["显示",1]] %>
  </div> 
  <div class="actions">
    <%= f.submit '保存'%>
  </div>
<% end %>

