<h3>商品目录列表</h3>
<hr />

<table>
  <tr>
    <th>目录名称</th>    
    <th>父目录</th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
   
    <td><%= if category.parent_id then Category.find_by_id(category.parent_id).name end %></td>
    <td><%= link_to '编辑', edit_category_path(category) %></td>
    <td><%= link_to '删除', category, :confirm => '确定删除？', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '创建新目录', new_category_path %>
