<%= javascript_include_tag :ckeditor %>


<%= form_for(@product, :html => { :multipart => true } ) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>存在<%= @product.errors.count %> 错误导致无法保存：</h2>

      <ol>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ol>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :商品名称 %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :商品简称 %><br />
    <%= f.text_field :abb_name %>
  </div>
  <div class="field">
    <%= f.label :商品目录 %><br />
    <%= f.select :category_id, Category.all.select{|p|p.parent_id}.map{|p| [Category.find_by_id(p.parent_id).name + "->" + p.name,p.id]}.sort_by{|p|p[0]} %>
    
  </div>
  
  <div class="field">
  	<%= f.label '上传商品图片' %><br />
  	<%= f.file_field :photo, :style => 'background-color :white' %>
  </div>
  
   <div class="field">
    <%= f.label :商品简介 %><br />
    <%= f.text_area :intro, :rows=> 5 %>
  </div>
  
  <div class="field">
    <%= f.label :商品介绍 %><br />
    <%= f.cktext_area :description, :toobar=>'full', :width => '582px', :height =>'438px' %>
  </div>
  <div class="field">
    <%= f.label :价格 %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :重量（kg） %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :成本 %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :商品状态 %><br />
    <%= f.select :status, [["下架",0],["上架",1]] %>
  </div>
  <div class="actions">
    <%= f.submit :保存%>
  </div>

<% end %>
