<div class="simple">
	<a href="#" class="image"> <%= image_tag product.photo.url(:thumb) %> </a>
	<div class="info">
		<h3><%= product.title %></h3>
		<span><%= number_to_currency(product.price,:unit=>"￥") %></span>
		<p>
			<%= sanitize(product.intro) %>
		</p>
	</div>
	<div class="cl">
		&nbsp;
	</div>
	<%= link_to '详细',"/products/#{product.id}" %>
	<%= link_to '购买', line_items_path(:product_id => product), :method => :post, :remote=>true %>
	<% if user_signed_in? %>
		<% if (current_user.role?("admin") || current_user.role?("staff")) %>
    		<%= link_to '编辑', edit_product_path(product) %>
   		 	<%= link_to '删除', product, :confirm => '确定删除？', :method => :delete %>
		<% end %>
	<% end %>
	<div class="cl">
		&nbsp;
	</div>
</div>
