<div class="entry">
  <%= image_tag product.photo.url(:thumb) %>
  <h4><%= product.title %></h4>
  <%=  sanitize(product.intro) %>
  <div class="price_line">
    <span class="price"><%= sprintf("￥%0.02f",product.price) %></span>
    <%= link_to '详细',"/products/#{product.id}" %> 
    <%= link_to '购买', line_items_path(:product_id => product), :method => :post, :remote=>true %>
  </div>
</div>