<div class="simple_content">

<p>
<div class="content_border">
  <%= image_tag @product.photo.url(:medium) %>
</div>
</p>
       
<div class="clr"></div><br />

<p>
  <b>商品名称:</b>
  <%= @product.title %>
</p>

<p>
  <b> 商品目录:</b>
  <%= Category.find_by_id(@product. category_id).name %>
</p>
<p>
  <b> 商品简介:</b>
  <%= @product. intro %>
</p>
<p>
  <b>商品介绍:</b><br />
  <%= @product.description.html_safe %>
</p>

<p>
  <b>价格:</b>
  <%= @product.price %>
</p>


       
<div class="cl"></div><br />
	<% if user_signed_in? %>
		<% if (current_user.role?("admin") || current_user.role?("staff")) %>
			<%= link_to '编辑', edit_product_path(@product) %> |
		<% end %>
	<% end %>
</div>