<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Time international GmbH</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>

  </head>
  <body>
    <div class="main">
      <div class="header">
        <div class="header_resize">
          <div class="logo">
            <h1>Time<span> international</span><small>e-commerce platform</small></a></h3>
          </div>
          <div class="menu_nav">
            <div id="topmenu">
              <ul>
                <li id="current"><a href="index.html" title="" class="home">Home <span>欢迎光顾</span></a></li>
                <li><a href="index.html" title="" class="about">About Us <span>公司信息</span></a></li>
                <li><a href="index.html" title="" class="services">Services <span> 服务内容</span></a></li>   
                <li><a href="index.html" title="" class="contact">Contact <span>联系我们</span></a></li>    
              </ul>
            </div>
          </div>
          <div class="clr"></div>
          <div class="hbg">
            <% if not user_signed_in? %>
              <li>
              <%= link_to '登录',new_user_session_path,{:style=>'color:#f0f1a3'} %>
                | 
                <%= link_to '注册',new_user_registration_path,{:style=>'color:#f0f1a3'} %>
              </li>
            <% else %>
              <li> 
                <%= link_to '退出', destroy_user_session_path,{:style=>'color:#f0f1a3'} %>
                |
                <%= link_to '修改个人信息', edit_user_registration_path,{:style=>'color:#f0f1a3'} %>
              </li>
            <% end %>  
            <div class="clr"></div>
          </div>

        </div>
        <div class="clr"></div>
      </div>

      <div class="content">
        <div class="mainbar">

            <% if notice %>
              <div class = "flash_info">
              	<p><%= notice %></p>
               </div>
            <% end %>
            <% if alert %>
              <div class = "flash_info">
              	<p><%= alert %></p>
              </div>
            <% end %>

          <div class="article">
          <%= yield %>
          </div>
          <!-- <div class="pagenavi"><span class="pages">Page 1 of 2</span><span class="current">1</span><a href="#" title="2">2</a><a href="#" >&raquo;</a></div> -->
        </div>


        <div class="sidebar">

          <div class="gadget">
            <div class="search">
              <form method="get" id="search" action="">
                <span>
                  <input type="text" value="Search..." name="s" id="s" />
                  <input name="searchsubmit" type="image" src="images/search.gif" value="Go" id="searchsubmit" class="btn"  />
                </span>
              </form>
              <!--/searchform -->
              <div class="clr"></div>
            </div>
          </div>
          <div class="gadget">   
            <div id="navigation">
              <ul>
              	<% Category.where( :parent_id => nil ).each do |category| %>
                <li><%= link_to category.name %></li>
                	<ol> 
                		<% Category.find_all_by_parent_id(category.id).each do |subCategory| %>
                		<li><%= link_to "- "+subCategory.name %></li> 
                		<% end %>
                	</ol>
				<% end %>
              </ul>
              <div id="cart">
                <strong>您的购物车:</strong> <br /> 0 件商品
              </div>
            </div>
          </div>

        </div>
        <div class="clr"></div>
      </div>
    </div>

    <div class="footer">
      <div class="footer_resize">
        <p class="cf">Designed for: <a href="#">Time international GmbH - 2011</a>.</p>
        <!--     <p class="rf">Thanks: <a href="http://www.cssmoban.com/" title="网页模板">cssMoban.com</a></p> -->
        <div class="clr"></div>
      </div>
    </div>
  </body>
</html>

